---
title: blog
---

:markdown
  Some not-particularly exciting things I wrote, usually about whatever
  it was I happened to be working on at the time.

%table
  - published_articles.each do |article|
    %tr
      %td.publish-time
        %time{ datetime: publish_date(article) }
          = publish_date(article).strftime("%Y-%m-%d")
      %td
        %a{ :href => article.path }= article[:title]
