---
title: blog
---

:markdown
  Some not-particularly exciting things I wrote, usually about whatever
  it was I happened to be working on at the time.

%ul
  - published_articles.each do |article|
    %li
      %a{ :href => article.path }= article[:title]
