---
title: urbanautomaton.com
---

#console
  <code><a href="#" class="start-eliza">click here for automated psychoanalysis</a></code>
%script{ :src => "javascript/jquery.js",          :type => "text/javascript", :charset => "utf-8" }
%script{ :src => "javascript/jqconsole.js",       :type => "text/javascript", :charset => "utf-8" }
%script{ :src => "javascript/eliza/eliza-all.js", :type => "text/javascript", :charset => "utf-8" }
%script{ :src => "javascript/main.js",            :type => "text/javascript", :charset => "utf-8" }
