---
title: urbanautomaton.com
---

:markdown
  <pre>
  HELLO [NAME], MY NAME IS DOCTOR SBAITSO.

  I AM HERE TO HELP YOU.
  SAY WHATEVER IS IN YOUR MIND FREELY,
  OUR CONVERSATION WILL BE KEPT IN STRICT CONFIDENCE.
  MEMORY CONTENTS WILL BE WIPED OFF AFTER YOU LEAVE,

  SO, TELL ME ABOUT YOUR PROBLEMS.

  >_
  </pre>
