---
title: urbanautomaton.com
---
#console
%script{ :src => "javascript/jquery.js",       :type => "text/javascript", :charset => "utf-8" }
%script{ :src => "javascript/jqconsole.js",    :type => "text/javascript", :charset => "utf-8" }
%script{ :src => "javascript/eliza/script.js", :type => "text/javascript", :charset => "utf-8" }
%script{ :src => "javascript/eliza/eliza.js",  :type => "text/javascript", :charset => "utf-8" }
%script{ :src => "javascript/main.js",         :type => "text/javascript", :charset => "utf-8" }
