%meta{ :charset => "utf-8" }
%title
  = @item[:title] || "urbanautomaton.com"
%link{ :rel => "stylesheet", :href => "/style/screen.css", :media => "screen" }
%link{ :rel => "stylesheet", :href => "/style/print.css",  :media => "print" }
/[if !IE]
  %link{ :rel => "stylesheet", :href => "/style/fonts.css" }
/[if IE]
  %link{ :rel => "stylesheet", :href => "/style/iefonts.css" }
%link{ :rel => "icon",          :href => "/ua-favicon.ico", :type => "image/x-icon" }
%link{ :rel => "shortcut icon", :href => "/ua-favicon.ico", :type => "image/x-icon" }
%link{ :rel => "alternate", :href => "/atom.xml", :type => "application/atom+xml", :title => "urbanautomaton.com" }
%meta{ :name => "viewport", :content => "width=device-width" }
