$background : #fff;

$body-font-family:  'Merriweather', Georgia, Palatino, Times, 'Times New Roman', sans-serif;
$body-text-color:   #444;
$body-text-size:    16px;

$header-font-family:  'Open Sans', Helvetica, Arial, sans-serif;
$header-text-color:   #222;
$header-size-ratio:   1.33333333em;

$code-font-family:  Monaco, Consolas, monospace;
$code-pre-size: 0.875em;

* {
  @include box-sizing(border-box);
}


body {
  background:   $background;
  font-size:    $body-text-size;
  font-family:  $body-font-family;
  color:        $body-text-color;
}

h1, h2, h3, h4, h5 {
  line-height:  1.1;
  color:        $header-text-color;
  font-weight:  bold;
  font-family:  $header-font-family;
}

pre, code {
  font-family:  $code-font-family;
}

pre {
  @include        border-radius(4px);
  font-size:      $code-pre-size;
  margin-left: 1.5em;
  margin-bottom:  1.1em;
  &.highlight {
    @include single-box-shadow($default-box-shadow-color, 3px, 3px, 10px);
  }
  & + p {
    margin-top: 1.5em;
  }
}

p { margin-bottom: 1.1em; }

a { text-decoration: none; }

em { font-weight: bold; }

