@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/reset";

$background : #fff;

$body-font-family:  'Merriweather', Georgia, Palatino, Times, 'Times New Roman', sans-serif;
$body-text-color:   #444;
$body-text-size:    16px;

$header-font-family:  'Open Sans', Helvetica, Arial, sans-serif;
$header-text-color:   #222;

$code-font-family:  Monaco, Consolas, monospace;
$code-inline-size:  0.925em;
$code-pre-size:     0.825em;

* {
  @include box-sizing(border-box);
}

body {
  background:   $background;
  font-size:    $body-text-size;
  font-family:  $body-font-family;
  color:        $body-text-color;
}

h1, h2, h3, h4, h5 {
  color:        $header-text-color;
  font-family:  $header-font-family;
  font-weight:  bold;
}

pre, code { font-family:  $code-font-family; }
code      { font-size:    $code-inline-size; }
pre       { font-size:    $code-pre-size;    }

a { text-decoration: none; }

em { font-weight: bold; }

