#sidebar {
  padding: 2em;
  .nav {
    li {
      padding: 3px 5px;
      line-height:     1.5em;
      font-size:       1.25em;
      letter-spacing:  0.5px;
      font-family:     $header-font-family;
      &.active { background: #bbb; }
    }

    a { color: #222; }
  }

}
