// http://tommikaikkonen.github.io/type-up/documentation/
$ratio: fourth();
$headingLinesBefore: 1;
$headingLinesAfter: 1/3;
$h1LinesBefore: 0.5;
$h1LinesAfter: 1;
$startModularScaleAt: 3;
@import "typeup";

.blog-text {
  padding: 2em;

  @include typeup-container(1.1em, 700px, 1);

  pre {
    line-height:  1.5em;
    padding:      0.875em;
  }

  ul, ol {
    li     { line-height:  $typeup-lineHeight * 1.125; }
    ul, ol { margin:       0 ($typeup-lineHeight / 6); }
  }

  ul { list-style: disc outside; }
  ol { list-style: decimal outside; }

  sup {
    font-size:       0.825em;
    vertical-align:  super;
    line-height:     1em;
  }

}
