@import "base";
@import "text";
@import "fonts";
@import "sidebar";
@import "solarized";
@import "console";

#main {
  @include respond-to(small-screens) {
    min-width: 30em;
  }
  @include respond-to(medium-screens) {
    width: 100%;
  }
  @include respond-to(wide-screens) {
    width: $break-large;
    margin: auto;
  }
}

#sidebar {
  width: 100%;
}

.blog-text {
  @include respond-to(small-screens) {
    width: 100%;
  }
  @include respond-to(medium-screens) {
    width: 100%;
  }
  pre.highlight {
    // Shade and adjust margins to compensate
    @include border-radius(4px);
    margin-bottom: $typeup-lineHeight + .5em;
    overflow-x: scroll;
  }
  code {
    @include border-radius(3px);
    border: 2px solid $code-inline-bg;
    background-color: $code-inline-bg;
  }
}
