@import "base";
@import "text";
@import "fonts";
@import "sidebar";
@import "solarized";
@import "console";

#main {
  position:    relative;
  display:     inline-block;
}

#content {
  @include respond-to(wide-screens)  { margin-left: 200px; }
  // @include respond-to(small-screens) { width: 100%;        }
}

#sidebar {
  @include respond-to(wide-screens) {
    width:       200px;
    text-align:  right;
    position: fixed;

    li {
      float: right;
      clear: both;
    }
  }
}

.blog-text {
  pre.highlight {
    // Shade and adjust margins to compensate
    @include border-radius(4px);
    @include single-box-shadow($default-box-shadow-color, .25em, .25em, .75em);
    margin-bottom: $typeup-lineHeight + .75em;
  }
}
