@import "base";
@import "fonts";
@import "sidebar";
@import "solarized";
@import "console";

$ratio: fourth();
$headingLinesBefore: 1;
$headingLinesAfter: 0.3333333;
$h1LinesBefore: 0.5;
$h1LinesAfter: 1;
$startModularScaleAt: 3;
@import "typeup";

#main {
  position: absolute;
  top:   40px;
  left:  330px;

  @include typeup-container(1.1em, 35em, 1);

  pre {
    @include        border-radius(4px);
    line-height:    1.5em;
    padding:        0.875em;
    // Margin-bottom should match line-height but adjust for shadow
    margin-bottom:  $typeup-lineHeight + .75em;
    &.highlight {
      @include single-box-shadow($default-box-shadow-color, .25em, .25em, .75em);
    }
  }

  ul, ol {
    li     { line-height:    $typeup-lineHeight * 1.125; }
    ul, ol { margin-bottom:  $typeup-lineHeight / 6;     }
  }

  ul { list-style: disc outside; }
  ol { list-style: decimal outside; }

  sup {
    font-size: 0.825em;
    vertical-align: super;
    line-height: 1em;
  }

}

