// font collection
// http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400italic,400,800,600|Merriweather:400,700

@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/reset";

@import "solarized";

* {
  @include box-sizing(border-box);
}

body {
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Merriweather', Georgia, Palatino, Times, 'Times New Roman', sans-serif;
  color: #444;
}

pre, code {
  font-family: monospace;
}

pre {
  font-size: 0.875em;
  @include border-radius(4px);
  margin-bottom: 1.1em;
  // @include single-box-shadow();
  & + p {
    margin-top: 1.5em;
  }
}

h1, h2, h3, h4, h5 {
  color: #222;
  font-weight: bold;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1 {
  line-height: 1.1;
  margin-top: 1em;
  margin-bottom: 1.1em;
}

h2, h3, h4, h5 {
  line-height: 1.1;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1.1em;
}

a {
  text-decoration: none;
}


#main {
  position: absolute;

  font-size: 1.1em;
  em { font-weight: bold; }

  top: 40px;
  left: 330px;

  h1 { font-size: 2.369em; }
  h2 { font-size: 1.777em; }
  h3 { font-size: 1.333em; }
  h4 { font-size: 1em;     }
  h5 { font-size: 0.75em;  }

  ul, ol {
    margin-bottom: 1.1em;
  }

  ul {
    list-style: disc inside;
  }

  ol {
    list-style: decimal inside;
  }

  width: 700px;
  h1, h2, h3, h4, h5, p {
    width: 550px;
  }
  pre {
    // width: 100%;
    margin-left: 1.5em;
  }
}

#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 250px;

  padding: 20px 20px 20px 0;

  border-right: 1px solid #ccc;

  text-align: right;

  .nav {
    li {
      font-size: 1.25em;
      letter-spacing: 0.5px;
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      &.active {
        // font-weight: bold;
        list-style: disc inside;
      }
    }
    a { color: #222; }
  }
}

